{% extends "members/base.html" %}
{% block title %}አዲስ የይለፍ ቃል ያስገቡ{% endblock %}
{% block content %}
<h3>አዲስ የይለፍ ቃል ያስገቡ</h3>
{% if validlink %}
    <p>እባክዎ አዲሱን የይለፍ ቃልዎን ከስር ሁለት ጊዜ ያስገቡ።</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">የይለፍ ቃሌን ቀይር</button>
    </form>
{% else %}
    <div class="alert alert-danger">
        ይህ የይለፍ ቃል መልሶ ማግኛ ሊንክ የተሳሳተ ወይም ጊዜው ያለፈበት ነው። እባክዎ እንደገና የይለፍ ቃል መልሶ ማግኛ ይጠይቁ።
    </div>
{% endif %}
{% endblock %}