{% extends 'members/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    {% for announcement in announcements %}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">{{ announcement.title }}</h4>
                <p class="card-text">{{ announcement.content|linebreaks }}</p>
            </div>
            <div class="card-footer text-muted">
                በ {{ announcement.author.username }} | {{ announcement.created_at|date:"M d, Y, h:i A" }}
            </div>
        </div>
    {% empty %}
        <div class="alert alert-info">
            በአሁኑ ሰዓት ምንም አይነት አዲስ ማስታወቂያ የለም።
        </div>
    {% endfor %}
{% endblock %}